coverage/
logs/
.logs/
*-run/
app/proxy*
mocks_data/proxy/**/__*
.idea/
assembly/
target/
app/public/build/
run/
coverage/
cov/
logs/
node_modules/
.node-diamond-client-cache/

.DS_Store
dump.rdb
*.swp
*.log
npm-debug.log

config/proto.json
*.iml